/* Styling for custom navigation bar */
:root {
  --main-bgColor: #28274D;
  --secondary-bgColor: #393B70;
  --font-color: #E7E9EA;
  --hover-color: #7E7F9C;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: "Lucida Console", "Courier New", monospace;
  float: none;
}


html {
  font-size: 95%;
  overflow-x: hidden;
}

body{

 background-color:#28274D;
 display: grid;
 place-items: center;
}

h1, p{
  color:#E7E9EA
}

#gradient-text{
    font-family: "Tilt Neon", sans-serif;
    background-image: linear-gradient(
      90deg,
      rgb(118, 167, 63) 0%,
      rgb(51, 143, 118) 40%,
      rgb(55, 141, 167) 50%,
      rgb(117, 152, 242) 70%,
      rgb(144, 118, 236) 100%
    );
    color: transparent;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
  }
/* Keyframes for CSS */

@keyframes profileSpinner {
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

 
/* CSS for ABOUT DESCRIPTION */

ul {
  list-style: none;
}

.main {
  justify-content: center;
  width:40%;
  padding: 10em 1.5em;
}


.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-top: 0em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.main__cards {
  display: flex;
  text-align: center;
  color: #eceff1;
}

/* =========CHUNKY CARD CSS======= */

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #f1edec;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
  ;
}

.card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card:nth-child(4) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card:nth-child(5) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
}

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}

.Productcard__heading {
  font-size: 1.75em;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}


.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}

/*project container*/
.project-container> .card:hover{
  background: linear-gradient(to right, #4CAF50, #2196F3); /* Adjust gradient colors as needed */
  border-radius: 5px;
  transition: background 0.3s ease;
}

.card__cta cta:hover{
background: linear-gradient(to right, #2196F3, #4CAF50); /* Adjust gradient colors for hover effect */

}

/* =======================CARD CSS========================================== */

#card-container {width: 100%;}

.profile-img-1 img{
margin:auto;
width: 100%;
max-width: 100px;
height: 100px;
border-radius: 100px;}

.profile-img-2 img{
margin:auto;
width: 100%;

border-radius: 100px;
  
}

#card-wrap{
  display: inline-flex;
  float: left;
  width: 25%;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  max-width: 70%;
}

/*image CSS*/
.profile-img-3{
  margin:auto;
width: 100%;
border-radius: 100px;
}

.profile-img-4{
  margin:auto;
width: 100%;
border-radius: 100px;
}

#project-container{
  width:100%;
}

.project-img-1 img{
width: 100%;
}

/*footer css*/
.footer {
  position: fixed;
  position: sticky;
  width: 150%;
  margin-top: 45px;
  padding-top: 90px;
  padding-right: 100px;
  background: rgba(0, 0, 0, .04);
}

.footer .copyright {
    padding: 30px;
    text-align: center;
    background: #11102f;
}

.footer .copyright p {
  margin: 0;
  display: inline-block;
  color: #E7E9EA;
}

.footer .copyright p a {
  color: #d799c6;
}

.footer .copyright p a:hover {
  color: #E7E9EA;;
}
