/* Landing Page CSS */
@font-face {
  font-family: 'MoonBold';
  src: url('/Users/kaylasmbp22/Downloads/moontypeface-free-font/Moon Light.otf') format('opentype');
}

body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: black;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-direction: column;
    position: relative; 
}



#logo-login {
  display: flex;
  justify-content: center;
}

#logo-login img{
    justify-content: center;
    align-items: top;
    text-align: center;
    margin: top;
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    margin-bottom: 20px;
    padding-top: 200px;
   
  }
#login-content {
    display: flex;
    justify-content: center;
    background: red(136, 40, 163);
    background: linear-gradient(3deg, rgba(0,212,255,0.4) 12%, rgba(215,250,255,0.7) 62%, rgba(191,191,255,0.3) 79%);
    border-radius: 8px;
    position: relative; 
    z-index: 1; 
    backdrop-filter: blur(6px);
    
}

#login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.password input{
    border-radius: 1000px;

}

/* Background video CSS */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* Sign Up button CSS */
/*#signupButton {
  width: 300px;
    align-items: center;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #1cac3b;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

#signupButton:hover {
    background: rgba(122, 95, 244, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%), 0 0 20px rgba(0, 118, 255, 0.5); /* Add a glow effect */



#loginButton {
  overflow: hidden;
  margin-left: 265px;
    width: 160px;
    display: block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 6px;
    height: 55px;
    line-height: 55px;
    border-radius: 70px;
    font-weight: 300;
    font-size: 21px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    
      
}
#loginButton:hover {
  background: rgba(122, 95, 244, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%), 0 0 20px rgba(255, 255, 255, 0.5); /* Add a glow effect */
}

.landing-login {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  width: 48%; /* Adjust the width as needed */
}
/* style inputs and link buttons */
input,
.btn {
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  padding-right: 5px;
  background-color: #3B5998;
  color: white;
  border-radius: 700px;
}

.twitter {
  padding-right: 25px;
  background-color: #55ACEE;
  color: white;
  border-radius: 700px;
}

.google {
  background-color: #dd4b39;
  color: white;
  border-radius: 700px;
}

/*#largeText {
    font-family: 'MoonBold';
    position: center;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white; 
    z-index: 2;
 /* Set a higher z-index than the container FR*/
.form__label {
    font-size: 1.0rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }

  .form__label{
  justify-content: center;
  }

  .form__input {
    width: 650px;
    color: #333;
    font-size: 1.2rem;
    margin: 0.2em 0.5rem;
    margin-right: 10px;
    padding: 1.5rem 1.5rem;
    border-radius: 8.2rem;
    background-color: rgb(255 255 255 / 86%);
    border: none;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }


  /* .form__group{
    margin-bottom:-5px !important;
  }

  .form__group  h5{
    color:#090518;
    align-items: center;
    padding-bottom: 22px;
    margin-bottom:-5px !important;
  }

  .form__group  h1{
    color:#090518;
    font-weight: 0px;
    margin-top: 0;
    padding-bottom: 35px;
    text-align: center;
  } */

  #login-linksz {
    text-align: center; /* Center the checkbox and registration link */
    padding-bottom: 25px;
  }

.remember-me {
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remember-me label {
  margin-left: 5px;
  font-size: 1rem;
}

.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #28274D, 0 0 40px #28274D, 0 0 50px #28274D, 0 0 60px #28274D, 0 0 70px #28274D;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #393B70, 0 0 50px #393B70, 0 0 60px #393B70, 0 0 70px #393B70, 0 0 80px #393B70;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #28274D, 0 0 40px #28274D, 0 0 50px #28274D, 0 0 60px #28274D, 0 0 70px #28274D;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #393B70, 0 0 50px #393B70, 0 0 60px #393B70, 0 0 70px #393B70, 0 0 80px #393B70;
  }
}

#landing-form {
  display: flex;
  justify-content: space-evenly;
}

#social-media-btns {
  display: flex;
  justify-content: center;
}

#loginPassword, #loginUsername, #loginButton {
  border-radius: 8px;
}

#fb-btn, #twitter-btn, #google-btn {
  border-radius: 8px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}

#row-for-sns-btns {
  display: flex;
  justify-content: center;
}