/* Posts Page CSS */
:root {
    --main-bgColor: #28274D;
    --secondary-bgColor: #393B70;
    --font-color: #E7E9EA;
    --hover-color: #7E7F9C;
    --content-color: #383a72;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Lucida Console", "Courier New", monospace;
    float: none;
}

html {
    font-size: 95%;
    overflow-x: hidden;
}
body {
    background-color: var(--main-bgColor);
}
a {
    color: var(--font-color);
}

/* CSS for displayed POSTS || CONTAINER */

#posts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.posts-container {
    background-color:var(--secondary-bgColor);
    border-radius: 20px;
    position: relative;
}

.post-top-info {
    display: flex;
    align-items: center;
}


.post-top-info p {
    font-weight: 600;
    padding-top: 5%;
    font-size: 1.2rem;
}

.post-top-info img {
    margin: 10px 10px 10px 20px;
    border-radius: 3rem;
    width: 10%;
    height: 70%;
    border-color: var(--main-bgColor);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.post-text {
    position: relative;
    background-color: var(--main-bgColor);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 5px 20px;
    border-radius: .8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.post-icons {
    position: relative;
    margin: 1.5%;
    padding-left: 1.5%;
}
.heart-icon {
    position: relative;
}
.liked-post {
    width: 5%;
}
.liked-post img {
    cursor: pointer;
}


/* RIGHTSIDE CONTENT */
#rightside-container { 
    background-color: var(--secondary-bgColor);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 75%;
    width: auto;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rightside-content {
    display: flex;
    flex-direction: column;
    margin: 10% 0 10% 0;
    width: auto;
    height: auto;
}
.rightside-content h3{
    margin-left: 5%;

}
#mostlikedpost-section {
    background-color: var(--main-bgColor);
    border-radius: .8rem;
    overflow-y: scroll;
    max-height: 50vh;
    width: 70%;
}
#mostlikedpost-section::-webkit-scrollbar {
    width: 5px;
    background-color: var(--main-bgColor);
    border-radius: .8rem;
}
#mostlikedpost-section::-webkit-scrollbar-thumb {
    border-radius: .8rem;
    background: var(--font-color);
}
#mostlikedpost-section .likedpost-container{
    position: relative;
    height: 50%;
    background-color: var(--main-bgColor);
    border-radius: .8rem;
    z-index: 1;
    overflow: hidden;
}
#mostlikedpost-section .likedpost-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover-color);
    z-index: -1;
}

#mostlikedpost-section .likedpost-container:hover::before {
    width: 100%;
}
.rightside-content h3 {
    font-weight: 600;
    color: var(--font-color)
}
.likedpost-container{
    margin: 2%;
    padding: 2%;
}

.right-content-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-content-mid {
    color: var(--font-color);
    display: flex;
    align-items: center;
}
.right-content-mid img {
    border-radius: .8rem;
    width: 2.5vw;
    height: auto;
}
.right-content-mid h3 {
    font-size: 1.2rem;
    padding-left: 2%;
    overflow: hidden;
}

.right-content-bot {
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .bottom-section {
    position: relative;
    display: flex;
} */
/* .friends-container {
    position: relative;
    width: 100%;
    height: 40%;
    border-radius: 10%;
    background-color: var(--main-bgColor);
} */

/* Keyframes for CSS */

@keyframes profileSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
