/* Styling for custom navigation bar */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #393B70;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px; 
    margin: 0 auto;
    min-height: 350px;
    color: #E7E9EA
}


.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.profile-photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#user-posts {
    background-color: #28274D;
    border-radius: 8px;
    height: auto;
    position: relative;
}

#user-posts-nav {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.nav-tabs .nav-item .nav-link {
    border: none;
    position: relative;
    overflow: hidden; 
}

/* Style the ::before pseudo-element */
.nav-tabs .nav-item .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    width: 0;
    height: 100%;
    background-color: #393B70;
    z-index: -1;
    transition:  0.5s;
}

/* Adjust ::before width on hover */
.nav-tabs .nav-item .nav-link:hover::before {
    width: 100%;
}


/* Change background color of active list item */
.nav-tabs .nav-item .nav-link.active {
    background-color: #393B70;
    color: #fff;
    border: none;
    border-radius: 8px;
}

/* Change background color when hovered */
.nav-tabs .nav-item .nav-link:hover {
    background-color: #393B70;
    color: #fff;
    border: none;
    border-radius: 8px;
}

/* Remove default blue color for visited links */
.nav-tabs .nav-item .nav-link:visited {
    color: white;
    
}

.tab-content img {
    max-width: 100%; /* Adjust this percentage as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for displayed POSTS || CONTAINER */

#posts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.liked-posts-container {
    background-color: var(--secondary-bgColor);
    border-radius: 20px;
    position: relative;
}

.posts-container {
    background-color: var(--secondary-bgColor);
    border-radius: 20px;
    position: relative;
}

.post-top-info {
    display: flex;
    align-items: center;
}


.post-top-info p {
    font-weight: 600;
    padding-top: 5%;
    font-size: 1.2rem;
}

.post-top-info img {
    margin: 10px 10px 10px 20px;
    border-radius: .8rem;
}
.post-text {
    position: relative;
    background-color: var(--main-bgColor);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px 5px 20px;
    border-radius: .8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.post-icons {
    margin: 1.5%;
    padding-left: 1.5%;
}

#passwordMismatch {
    color: red;
    display: none;
}