/* Posts Page CSS */
:root {
  --main-bgColor: #28274D;
  --secondary-bgColor: #393B70;
  --font-color: #E7E9EA;
  --hover-color: #7E7F9C;
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send it to the back */
}

.card-body,
.row,
.col-md-10,
{
  position: relative;
  z-index: 1; /* Make sure it's higher than background-container */
}



/* Your existing styles for the card and form */
.card {
  border-radius: 25px;
}

/*! --------------------------------------------------------------------- */

/* :root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

a:hover {
  text-decoration: underline;
}

.small {
  font-size: 80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/_DSF4943.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left .copy {
  color: white;
  text-align: center;
}

.left p {
  font-weight: 400;
}

.right .copy {
  color: black;
  text-align: center;
}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-container.password {
  position: relative;
}

.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin: 0 0 1.25rem 0;
}

.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px;
  border-radius: 2px;
  top: -4px;
  left: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}

.signup-btn {
  display: block;
  width: 100%;
  background: var(--primary-blue);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.signup-btn:hover {
  background: #2c4893;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
} */

/* Add this CSS to your existing or a new CSS file */
#loadingSpinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

